<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/details.css">
	<title>Contacts</title>
</head>

<body>
	<header>
		<img src="<%= contact.photo%>">
	</header>

	<section>
		<h1><%= contact.name +" "+ contact.surname %></h1>
		<article>
			<button>Bellen</button>
			<button>Mailen</button>
		</article>
		
		<article class="contact-info">
			<span><%= "phone number: " + contact.phone%></span>
			<span><%= "age: " + contact.age %></span> 
			<span><%= "region: " + contact.region %></span>
			<span><%= "birthday: " + contact.birthday.mdy %></span> 
			<span><%= "email adress: " + contact.email %></span>
		</article>
	</section>
</body>

<script></script>
</html>
