<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<title>Contacts</title>

</head>

<body>
	<header>
			<label>Search contacts</label>
			<input id="search-bar" type="search" placeholder="Search contacts">
	</header>

	<ol id="list">
	<% for (var i = 0; i < contacts.length; i++) { %>
		<div class="letter-container">
			<% if (contacts[i].letter) { %>
				<h1 class="follow" id='<%=contacts[i].letter%>'><%= contacts[i].letter %></h1>
			<% } %>
		</div>
		<div class="contact-container">
			<% for (var j = 0; j < contacts[i].contacts.length; j++) { %>
				<li>
				<img src="<%= contacts[i].contacts[j].photo%>">		
				<a href="<%= contacts[i].contacts[j].name + " " + contacts[i].contacts[j].surname %>"><%= contacts[i].contacts[j].name + " " + contacts[i].contacts[j].surname %></a>
			</li>
		<% } %>
	</div>
	<% } %>
	</ol>
</body>

<script src="js/script.js"></script>
</html>
